NameVirtualHost *:80
<VirtualHost *:80>
  ServerName <%= node[:httpd][:servername] %>
  DocumentRoot <%= node[:httpd][:webroot] %>
  <Directory "<%= node[:httpd][:webroot] %>">
    AllowOverride All
    Order allow,deny
    Allow from all
    # vagrant で静的ファイルが更新されない問題
    EnableMMAP Off
    EnableSendfile Off
  </Directory>
</VirtualHost>

<VirtualHost *:80>
  ServerName <%= node[:httpd][:servername] %>
  ServerAlias *.<%= node[:httpd][:servername] %>
  VirtualDocumentRoot <%= node[:httpd][:webroot] %>%1
  # vagrant で静的ファイルが更新されない問題
  EnableMMAP Off
  EnableSendfile Off
</VirtualHost>