<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
phpinfo</title>
</head>
<body>
<?php
phpinfo();
?>
</body>
</html>